<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addasset</servlet-name>
        <servlet-class>addasset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtask</servlet-name>
        <servlet-class>addtask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addworker</servlet-name>
        <servlet-class>addworker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assetsall</servlet-name>
        <servlet-class>assetsall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allocatetask</servlet-name>
        <servlet-class>allocatetask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addInDB</servlet-name>
        <servlet-class>addInDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAssetInDB</servlet-name>
        <servlet-class>AddAssetInDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAssetInDB</servlet-name>
        <servlet-class>addAssetInDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTaskInDB</servlet-name>
        <servlet-class>addTaskInDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addWorkerInDB</servlet-name>
        <servlet-class>addWorkerInDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTaskAllocatedInDB</servlet-name>
        <servlet-class>addTaskAllocatedInDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gettasksforworker</servlet-name>
        <servlet-class>gettasksforworker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTask</servlet-name>
        <servlet-class>getTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addasset</servlet-name>
        <url-pattern>/add-asset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtask</servlet-name>
        <url-pattern>/add-task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addworker</servlet-name>
        <url-pattern>/add-worker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assetsall</servlet-name>
        <url-pattern>/assets/all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allocatetask</servlet-name>
        <url-pattern>/allocate-task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addInDB</servlet-name>
        <url-pattern>/addInDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAssetInDB</servlet-name>
        <url-pattern>/AddAssetInDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAssetInDB</servlet-name>
        <url-pattern>/addAssetInDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTaskInDB</servlet-name>
        <url-pattern>/addTaskInDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addWorkerInDB</servlet-name>
        <url-pattern>/addWorkerInDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTaskAllocatedInDB</servlet-name>
        <url-pattern>/addTaskAllocatedInDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gettasksforworker</servlet-name>
        <url-pattern>/get-tasks-for-worker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTask</servlet-name>
        <url-pattern>/getTask</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
